.explore-service{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-service h1{
    color: #262626;
    font-weight: 500;
}
.explore-service-text {
    max-width: 60%;
    color: #808080;
}
.explore-service-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;

}
.explore-service-list::-webkit-scrollbar{
    display: none;
}
.explore-service-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s;

}
.explore-service-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
}
.explore-service-list hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none; 

}

 .explore-service-list-item .active{
    border: 3px solid teal;
    padding: 2px;
 }